.topBar { 
    width: 100%; 
    height: 3em; 
    display: flex; 
    align-items: center; 
    border: 1px solid black; 
}

.topBar_logo{
    width: 5%; 
    height: 100%; 
    
}

.topBar_logo img { 
    position: relative; 
    margin-left: 1rem; 
    height: 100%; 
    width: auto;
}

.topBar_titles { 
    height: 100%; 
    width: 45%;
    display: flex; 
    align-items: center; 
    gap: 1em;
    margin-right: 33%; 
}

.topBar_buttons { 
    width: 11%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}
