.EntryFocused {
  width: 95vh;
  height: 90vh;
  background: rgb(241, 242, 244);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.delete-icon {
  position: fixed; /* or absolute, depending on your layout */
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.entry_focused_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.entry_focused_header_title h3 {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
}

.entry_focused_header_title h4 {
  margin: 0;
  color: #666;
  font-size: 18px;
}

.entry_focused_header_buttons {
  position: relative;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.entry_focused_content {
  width: 100%;
  height: 90%;
  display: flex;
  box-sizing: border-box;
  padding: 0 0 1rem 0;
}

.entry_focused_content_left_bar {
  width: 27%;
  height: 100%;
}

.entry_focused_content_section {
  height: 100%;
  width: 83%;
}

.entry_focused_content_section_description {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 20%;
  width: 95%;
}

.entry_focused_content_section_notes {
  width: 95%;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 1rem;
  height: 30%;
}
.entry_focused_content_section_description_title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 0.8rem;
  box-sizing: border-box;
  height: 15%;
}
.entry_focused_content_section_description_entry {
  height: 85%;
  padding: 0 0.8rem;
  box-sizing: border-box;
}

.entry_focused_content_section_description_entry textarea {
  width: 100%;
  height: 90%;
  padding: 0.6rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
  border-radius: 5px;
  background: rgb(228, 230, 234);
  border: none;
}

.entry_focused_content_left_bar_actions_buttons_button {
  display: flex;
  align-items: center;
  background: rgb(228, 230, 234);
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 4px;
}

.entry_focused_content_left_bar_actions_buttons {
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 0.9rem;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for the blur effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other content */
}

.entry_focused_content_section_calendar {
  margin-left: 1rem;
}

.entry_focused_content_section_bottom {
  width: 100%;
  display: flex;
  justify-content: space-arround;
}

ul {
  list-style-type: none;
}


.entry_focused_content_section_checklist {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px;
    width: 150%;
    
  }
  
  .entry_focused_content_section_checklist h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .entry_focused_content_section_checklist ul {
    list-style: none;
    padding: 0;
  }
  
  .entry_focused_content_section_checklist li {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
  
  .entry_focused_content_section_checklist li:last-child {
    border-bottom: none;
  }
  
  .entry_focused_content_section_checklist input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .entry_focused_content_section_checklist label {
    width: 100%;
    font-size: 16px;
    color: #666;
  }
  
  .entry_focused_content_section_checklist .checked label {
    text-decoration: line-through;
    color: #ccc;
  }
  
  .event-popup { 
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  }