/* Styles for NewEntryForm component */
.new-entry-form {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.new-entry-form label {
  display: block;
  margin-bottom: 5px;
}

.new-entry-form select,
.new-entry-form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.new-entry-form button.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0c2f20;
  color: #fff;
  cursor: pointer;
}

.new-entry-form button.submit-button:hover {
  background-color: #011c10;
}
/* Add more styles as needed */

.new-entry-container {
  margin-bottom: 20px;
}

.add-entry-button {
  margin: 1rem; 
  margin-left: 85%; 
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer; 
  font-size: 16px;
}

.add-entry-button:hover {
  background-color: #151617;
}

.popup { 
  width: 40%;
  position: relative; 
   
}
.close-button:hover {
  background-color: #aaa;
}
.close-button {
  position: absolute;
  top: 8%;
  left: 87%;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}
.suggestion-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px; /* Limit the height of the suggestion list */
  overflow-y: auto; /* Enable vertical scrolling if the list exceeds max-height */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for each suggestion item */
.suggestion-item {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

/* Optional: Add some spacing between suggestion items */
.suggestion-item + .suggestion-item {
  border-top: 1px solid #ccc;
}

/* Optional: Style the input field to match the suggestions */
.input-field {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  box-sizing: border-box;
}